<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><%=title %></title>
<!--  Bootstrap -->
<link href="../bootstrap/dist/css/bootstrap.min.css" rel='stylesheet' media='screen'>
<link href="../bootstrap-table/dist/bootstrap-table.css" rel='stylesheet' media='screen'>
<script src="../jquery/dist/jquery.min.js"></script>
<script src="../bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bootstrap-table/dist/bootstrap-table.min.js"></script>
</head>
<body screen_capture_injected="true">
