<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><%=title %></title>
<!--  Bootstrap -->

<script src="../jquery/dist/jquery.min.js"></script>
<script src="../bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bootstrap-table/dist/bootstrap-table.min.js"></script>
<link href="../bootstrap/dist/css/bootstrap.min.css" rel='stylesheet' media='screen'>
<link href="../bootstrap-table/dist/bootstrap-table.css" rel='stylesheet' media='screen'>
<link href="../stylesheets/style.css" rel='stylesheet' media='screen'>

</head>
<body screen_capture_injected="true">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Management Site</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="../">Home</a></li>
        <li><a href="../testcase">TestCase</a></li>
        <li><a href="../testcase">TestResult</a></li> 
        <li><a href="../">TestCycle</a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <!--   <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
         -->
      </ul>
    </div>
  </div>
</nav>
