<% include header.html %>

<h1><%= title %></h1>
<div class='t1'>
<table class='table table-hover'  id="table-testcase"   data-toggle='table' data-url='../testcase/queryAll'  data-row-style="rowStyle" data-sort-name="ID" data-sort-order="asc" >
<thead>
<tr>
<th data-field="ID">ID</th>
<th data-field='NAME'>CaseName</th>
<th data-field="Caption">Caption</th>
<th data-field='date_created'>date</th>
<th data-field="Description">Desc</th>
<th data-field='is_nagetive'>is_nagetive</th>
</tr>
</thead>
</table>
</div>
<div class="table-responsive" style="width:1000px;margin: 30px 0 30px 4px;">
<table class="table table-striped " id="table-testresult">
  <thead>
    <tr>
    	<th data-field="ID">ID</th>
        <th data-field="NAME">NAME</th>
        <th data-field="Caption">Caption</th>
        <th data-field="Result">Result</th>
        <th data-field='date_created'>date</th>
    </tr>
    </thead>
</table>
</div>
<div class="t1">
<table class="table table-bordered" id="table-test">
<caption style="text-align:center;font-weight: bold;font-size: larger">Test Result</caption>
  <thead>
    <tr>
    	<th data-field="ID">ID</th>
        <th data-field="NAME">NAME</th>
        <th data-field="Caption">Caption</th>
        <th data-field="Result">Result</th>
        <th data-field="is_nagetive">is_nagetive</th>
        <th data-field="Description">Desc</th>
    </tr>
    </thead>
</table>
</div>
<script>


$('#table-testresult').bootstrapTable({
    url: '../testcase/queryResult',
});

$(document).ready(function(){
	setInterval("reload()",5000);
});

function reload(){
	$("#table-testcase").bootstrapTable('refresh');
	$('#table-testresult').bootstrapTable('refresh');
}
$.ajax({
		url:'../testcase/queryResult',
		type:'get',
		contentType: "application/json",
		dataType:'json',
		success:function(data){
			//console.log(data);
			console.dir(data);
			$('#table-test').bootstrapTable({data:data});
		}
});
</script>












<script>
/*
$(document).ready(function(){
	var id = 0;
	$.ajax({
		url:'./queryAll',
		type:'get',
		contentType: "application/json",
		dataType:'json',
		success:function(data){
			//console.log(data);
			console.dir(data);
			var $table = $('#table_testcase');
			$table.dataTable(data);
		},
		error:function(data){
			alert('failure!');
			console.log(data.message);
		}
	});
});
*/


</script>

<script>
/*$(document).ready(function(){
var id = 0;
$.ajax({
	url:'../testcase/queryAll',
	type:'get',
	contentType: "application/json",
	dataType:'json',
	success:function(data){
		console.log(data);
		var str='';
		$.each(data,function(i,val){
			str+='<ul><li>'+val.NAME+'</li></ul>';
		});
					
		$("#data").html(str);						

	},
	error:function(data){
		alert('failure!');
		console.log(data.message);
	}
});
});
*/
</script>
<% include footer.html %>
